.boxDaysWeek{
    display: flex;
    margin-top: 1.1rem;
    padding-right: 5px;
    flex-direction: column;
}

.daySell{
    display: flex;
    height: 3.2rem;
    align-items: center;
    font-weight: bold;
}
